<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
      <h3 class="text-dark mb-4">PERSONNELS</h3>
      <div class="card shadow">
          <div class="card-header py-3 col-md">
            <div class="row">
              <div class="col-md">
                <p class="text-primary m-0 fw-bold">Personel Info </p>
              </div>
              <div class="col-md">
                <button type="button" routerLink="/addEmployee" class="btn btn-outline-primary" style="float: inline-end;">Ajouter une personne</button>
              </div>
            </div>
          </div>

        <div class="card-body">
          <form [formGroup]="frmrecherche">
            <div style="float:center;" >
              <label for="exampleFormControlInput1">CIN</label>
              <input formControlName="recherche_cin"  autocomplete="off" matInput
              type="text" placeholder="Numéro du commande">
              <button (click)="search()">Search by CIN</button>
          </div>
          </form>
          <div class="row">
            <div class="col-md-6 text-nowrap">
              <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>&nbsp;</label></div>
            </div>
            <div class="col-md-6">
              <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
            </div>
          </div>
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" >
              <thead>
              <tr>
                <th>CIN</th>
                <th>Nom et prénom</th>
                <th>Numéro de téléphone</th>
                <th>JobTitle</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr>
              <tr *ngFor="let employee of employees">
                <td>{{employee.cin}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.jobtitle}}</td>
                <td>
                  <a  (click) = "detailemployee(employee)"><i class="far fa-eye" style="color: #007bff;"></i></a>
                  <a (click) = "editemployee(employee)"><i class="fas fa-edit m-1" style="color: #007bff;"></i></a>
                  <a (click) = "supprimer(employee)"><i class="far fa-trash-alt" style="color: red;"></i></a>
                  
                </td>
              </tr>
              <tr>

              </tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              </tbody>
              <tfoot>
              <tr></tr>
              </tfoot>
            </table>
          </div>
          <div class="row">
            <div class="col-md-6 align-self-center">
              <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
            </div>
            <div class="col-md-6">
              <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                  <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
